@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: black;
  font-family: Raleway, sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 1.25rem;
}

main {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div {
  display: flex;
  gap: 4rem;
}

main h1 {
  font-size: 4rem;
}

main h2 {
  font-size: 2rem;
}

nav > div {
  cursor: pointer;
}

.hidden {
  display: none;
}
